/* feuille de style pour le dossier des ecercices ebook */
body {
    background-color:cyan;
}
/* style pour La DD, Les DT et Les dd */
/* style pour bien voir les reponses aux questions */
.reponse {
    background-color: orchid;
}
dl {
    border: 2px solid orange;
    width: 50%;
    padding: 10px;
}

dt {
    background-color: ;
    margin-top: 2px;
}